 body {
   background-color: #f7f9f9;
 }
.p-5text-centerbg-image, h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  opacity: .9;
  padding-top: 10%;
 }
 .p-5text-centerbg-image, h4 {
   font-size: 40px;
   opacity: .9;
}

#my-pic {
  border-radius: 70%;
  width: 20%;
  margin-top: 22px;
  float: left;
  }
  p {
    margin-top: 1em;
  }
  #info {
    margin-right:25em;
    margin-left: 1em;
  }
  h2 {
    margin-top: 1em;
  }
  #tech {
    position:absolute;
    padding-top: 3em;
  
  }
  #bringit {
    position:relative;
   padding-left:23em;
   padding-bottom: em;
  }