
.p-5text-centerbg-image, h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  opacity: .9;
 }
 .p-5text-centerbg-image, h4 {
   font-size: 40px;
   opacity: .9;
}

#my-pic {
  border-radius: 70%;
  width: 20%;
  margin-top: 200px;
  
 }