 body {
 background-color: #cad2c5;
 }
.p-5text-centerbg-image, .mb-3 {
  font-family:'Jost', 'Times New Roman', Times, serif;
  font-size: 70px;
  opacity: .9;
  padding-top: 10%;
  margin-bottom: 3em;
  text-shadow: 2px 2px ivory ;
  display: flex;
 }
 .p-5text-centerbg-image, h4 {
   font-size: 40px;
   opacity: .8;
  }

#my-pic {
  border-radius: 70%;
  width: 20%;
  margin-top: 22px;
  float: left;
  }
  
  p {
    margin-top: 1em;
  }
  #info {
    margin-right:25em;
    margin-left: 1em;
  }
  h2 {
    margin-top: 1em;
  }
  #tech {
    display: flex;
    margin: 1em auto;
    background-color: #a4c3b2;
    justify-content:space-around;
  
  }
  #bringit {
    position:relative;
    display: flex;
   padding-bottom: em;
   margin-bottom: 8em;
   background-color: #adb5bd;
   margin-left: 26em;
  }
  .container {
    margin-bottom: 4em;
    background-color:  #99c1de;
  }
  .container, h2 {
    text-align: center;
  }

  .p-title {
    position:relative;
    top: 1em;
    font-size: 1.2em;
  }

  .flexbox-container { 
    display:flex;
    justify-content:space-evenly;
    background-color: #dcb9a1;
    background-size: cover;
    border-radius: 30px;
    padding: .2em;
    margin-bottom: 4em;
    }

  
  .quote {
    display: flex;
    align-content: center; 
    justify-content: center; 
    border-radius: 250px;
   width: 230px;
   height: 230px;
   float: right;
   background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/color-zen-circle-peter-cutler.jpg);
   background-size: cover;
   padding-top: 2.2em;
   color: #d9ed92;
   background-image: rgba(255, 255, 255,.2); 
  }

